body {
    color: black;
    font-size: 16px;
}
.myTable {
    border-collapse: collapse;
    border:solid black 2px;
    width: 100%;
    font-size: 100%;
    font-family: Palatino, serif;
}
tr, td, th {
    border:solid black 2px;
    text-align: center;
}
div {
    border:solid black 2px;
}