.submitButton {
    background-color: #d4d4d4;
    color: black;
    width: 34%;
    opacity:0.4;
}
.submitButton:hover {
    opacity:0.8;
}
.inputEnter {
    opacity: 0.7;
    color: black;
}
.table_dark {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    width: 640px;
    text-align: left;
    border-collapse: collapse;
    background: #252F48;
    opacity: 0.8;
    margin: 10px;
}
.table_dark th {
    color: #5cb85c;
    border-bottom: 1px solid #37B5A5;
    padding: 12px 17px;
}
.table_dark td {
    color: #CAD4D6;
    border-bottom: 1px solid #37B5A5;
    border-right:1px solid #37B5A5;
    padding: 7px 17px;
}
.table_dark tr:last-child td {
    border-bottom: none;
}
.table_dark td:last-child {
    border-right: none;
}
.table_dark tr:hover td {
    text-decoration: underline;
}
.table_dark caption {
    color: white;
}

.table_dark input {
    background-color: #37B5A5;
    color: white;
}

.tdPie {
    height: 350px;
    width: 90%;
}

.myButtonStyle1 {
    width: 100%;
    position: relative;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    user-select: none;
    padding: .8em 2em;
    outline: none;
    background-color: #09d20d;
    background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0,0,0,.3) 0 2px 5px;
}
.myButtonStyle1:active {
    top: 1px;
    box-shadow: none;
}
.myButtonStyle1:hover {
    transition: .5s linear;
    background-position: -200% 0, 0 0;
}

.myButtonStyle2 {
    width: 100%;
    position: relative;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    user-select: none;
    padding: .8em 2em;
    outline: none;
    background-color: #f2e90b;
    background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0,0,0,.3) 0 2px 5px;
}
.myButtonStyle2:active {
    top: 1px;
    box-shadow: none;
}
.myButtonStyle2:hover {
    transition: .5s linear;
    background-position: -200% 0, 0 0;
}

.myButtonStyle3 {
    width: 100%;
    position: relative;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    user-select: none;
    padding: .8em 2em;
    outline: none;
    background-color: #f21e24;
    background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0,0,0,.3) 0 2px 5px;
}
.myButtonStyle3:active {
    top: 1px;
    box-shadow: none;
}
.myButtonStyle3:hover {
    transition: .5s linear;
    background-position: -200% 0, 0 0;
}

#tablePie .tdPie {
    width: 650px;
}