.submitButton {
    background-color: #d4d4d4;
    color: black;
    width: 33%;
    opacity:0.4;
}
.submitButton:hover {
    opacity:0.8;
}
.inputEnter {
    opacity: 0.7;
    color: black;
}
.table_dark {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    width: 640px;
    text-align: left;
    border-collapse: collapse;
    background: #252F48;
    opacity: 0.8;
    margin: 10px;
}
.table_dark th {
    color: #5cb85c;
    border-bottom: 1px solid #37B5A5;
    padding: 12px 17px;
}
.table_dark td {
    color: #CAD4D6;
    border-bottom: 1px solid #37B5A5;
    border-right:1px solid #37B5A5;
    padding: 7px 17px;
}
.table_dark tr:last-child td {
    border-bottom: none;
}
.table_dark td:last-child {
    border-right: none;
}
.table_dark tr:hover td {
    text-decoration: underline;
}
.table_dark caption {
    color: white;
}

.table_dark input {
    background-color: #5cb85c;
    color: white;
}

.tdPie {
    height: 350px;
    width: 90%;
}